.content {
  &__wrapper {
    max-width: 58%;
  }
  
  @include tablet-horizontal-media {
    &__wrapper {
      max-width: 70%;
    }
  }
  
  @include tablet-vertical-media {
    &__wrapper {
      max-width: unset;
    }
  }
}
