.select {
  width: 100%;
  
  &__button {
    display: inline-flex;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid $gray-secondary;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
    background: $white;
    cursor: pointer;
  }
  
  &__value {
    line-height: 1.5;
    color: $gray-main;
    pointer-events: none;
  }
  
  &__arrow {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    
    svg {
      width: 10px;
      height: 6px;
      transition: transform .3s ease-in-out;
      fill: $gray-main;
    }
  }
  
  &_opened {
    .select__arrow svg {
      transform: rotate(180deg);
    }
  }
  
  &_selected {
    .select__value {
      color: $txt-black;
    }
  }
}
