@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  src: local('roboto-regular'),
  url('@fonts/roboto-regular.woff2') format('woff2'),
  url('@fonts/roboto-regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  src: local('roboto-regular'),
  url('@fonts/roboto-bold.woff2') format('woff2'),
  url('@fonts/roboto-bold.woff') format('woff');
  font-weight: 600;
}
