<div class="icons" style="display: none">
  <svg>
    <symbol id="small-arrow" viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.175 0.158333L5 3.975L8.825 0.158333L10 1.33333L5 6.33333L0 1.33333L1.175 0.158333Z"/>
    </symbol>
  </svg>
</div>
