<div class="select">
  {{#if this.label}}
    <label
      class="select__label"
        {{#if this.id}}for="{{this.id}}"{{/if}}
    >{{{this.label}}}</label>
  {{/if}}
  <button
    class="select__button"
    type="button"
    {{#if this.id}} id="{{this.id}}"{{/if}}
  >
    <span class="select__text">Выберите параметр</span>
  </button>
  {{> dropdown classes='select__dropdown' list=this.list}}
</div>
