<section class="selects section">
  <div class="selects__container section__container">
    <div class="selects__wrapper">
      {{> select list=this.list label='Выпадающий список_1'}}
    </div>
  </div>
</section>
