<div class="select">
  <button class="select__button" type="button">
    <span class="select__value">Выберите параметр</span>
    <span class="select__arrow">
      <svg>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#small-arrow"/>
      </svg>
    </span>
  </button>
</div>
